= form_with(model: department, local: true) do |form|
  - if department.errors.any?
    #error_explanation
      %h2
        = pluralize(department.errors.count, "error")
        prohibited this department from being saved:
      %ul
        - department.errors.full_messages.each do |message|
          %li= message
  .field
    = form.label :name
    = form.text_field :name, id: :department_name
  -# .field
  -#   = form.label :company_id
  -#   = form.text_field :company_id, id: :department_company_id
  .actions
    = form.submit
