%p#notice= notice
%h1 Departments
%table
  %thead
    %tr
      %th Name
      %th Company
      %th{:colspan => "3"}
  %tbody
    - @departments.each do |department|
      %tr
        %td= department.name
        %td= department.company.name
        %td= link_to 'Show', department
        %td= link_to 'Edit', edit_department_path(department)
        %td= link_to 'Destroy', department, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Department', new_department_path
